@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html,
body {
  background-color: #f7f7f9;
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar-expand-lg {
  background-color: #fff;
}

.navbar-brand {
  color: #6070ff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  display: block;
}

.navbar-nav .nav-item {
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 8px;
  transition: background 0.15s ease-in;
}

.navbar-nav .nav-item .nav-link {
  color: #344563;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler i {
  color: #6070ff;
}

#headline {
  position: relative;
  min-height: 50rem;
  width: 100%;
  background: url("./assets/images/header-bg.png");
  background-position: center;
  background-size: 98%;
  background-repeat: no-repeat;
  background-color: #fff;
  border-bottom-left-radius: 5.5rem;
}

#headline .container {
  width: 75%;
  position: relative;
  top: 17rem;
}

.headline-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin: 0;
  color: #172b4d;
}

#headline p {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 90%;
}

#headline hgroup .headline-title:last-child {
  width: 90%;
}

#headline p {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.headline-connect-link {
  color: #7f8cff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-links {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding-left: 0;
}

.social-links li {
  display: block;
  padding: 7px 13px;
}

.social-links li a:hover {
  color: #2230d2;
}

.social-links li:nth-child(1) {
  padding-left: 0 !important;
}
#work-section {
  background: var(--light-white-bg);
  padding: 6rem 0;
}
#work-section .container {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 3rem;
}

#work-section .container .row {
  row-gap: 9rem;
}

.card-work {
  display: flex;
  align-items: start;
  flex-direction: row;
  padding: 20px;
  border: none;
}

.card-work .card-content {
  padding: 35px 23px;
}

#work-section .container .row .col-12:nth-child(even) .card-work {
  flex-direction: row-reverse;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  margin-bottom: 1rem;
  padding: 0;
  box-sizing: border-box;
}

.card-work .image-container {
  width: 100%;
  overflow: hidden;
}
.card-work:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}
.card-work .image-container img {
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}
.card-work:hover .image-container img {
  transform: scale(1.1);
}

.card-work .card-body .project-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 0;
  max-width: 90%;
}

.project-additional-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-bottom: 0;
}

.project-additional-info h5 {
  margin: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.project-additional-info p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin: 0;
}
.dot {
  width: 8px;
  height: 8px;
  background: #c1c7d0;
  border-radius: 50%;
}
.project-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 0;
  width: 90%;
}
.project-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 8px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.project-tags li {
  background: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
  color: #6070ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.project-btn {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #6070ff;
  background-color: #fff;
  color: #396df2;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: max-content;
  display: inline-block;
  cursor: pointer;
  transition: all 0.15s ease-in;
}
.project-btn:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}
.project-btn:active {
  background: #2230d2;
  color: #fff;
}
.card-work .card-body .project-btn {
  margin-top: 0;
}

.para {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 20px 16px 12px 16px;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 10px;
  line-height: 24px;
  width: 150px;
  background: #fff;
  border: 2px solid #396df2;
  border-radius: 10px;
  font-size: 17px;
  color: #396df2;
  margin: 40px 16px;
}

button:hover {
  color: #fff;
  background-color: #6070ff;
}

button:active {
  color: #fff;
  background-color: #2230d2;
}

.about {
  margin: 114px 24px;
  color: #172b4d;
}

.icon {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
  gap: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid #396df2;
  color: #396df2;
  margin: 12px 0;
  width: 170px;
}

ul li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  align-items: center;
  color: #253858;
  gap: 10px;
  display: flex;
  list-style: none;
}

.item {
  background: #f7f7f9;
  border-radius: 8px;
  margin: 12px;
  padding: 10px;
  width: 90%;
  height: 20%;
}

.arrow {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  justify-content: space-between;
  margin: 0 -12px;
  padding: 10px 0;
}

.social {
  margin: 36px 0 48px 0;
}

hr {
  position: relative;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #dfe1e6;
  margin: 0 -24px;
  opacity: 0.8;
}

.tb {
  margin-right: 46px;
}

.post {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  width: 80%;
  margin: 12px 16px;
}

.picture {
  margin: 16px;
}

.items {
  margin: 0;
  padding: 0;
}

#lang {
  margin-top: 100px;
}

/* Contact me */

.text {
  width: 327px;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-left: 24px;
}

.text::placeholder {
  padding-top: 15px;
  padding-left: 16px;
}

.form {
  margin-top: 20px;
}

.message {
  width: 327px;
  height: 170px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin-left: 24px;
}

.message::placeholder {
  padding-top: 15px;
  padding-left: 16px;
}

.touch {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  margin-left: 24px;
  margin-top: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 50px;
  background: #6070ff;
  background-image: url("./contactbg.png");
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 114px;
}

.contact1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./contactbg.png");
  margin-bottom: 44px;
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 103px;
  margin-bottom: 10px;
  height: 56px;
}

.graph {
  width: 327px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-left: 24px;
  margin-right: 24px;
}


@media (max-width: 767.98px) {
  #headline {
    min-height: 35rem;
    background: url("./assets/images/header-bg-mobile.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  #headline .container {
    position: relative;
    top: 5rem;
    width: 95%;
  }

  .navbar .container {
    width: 95%;
  }

  .headline-title {
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    color: #172b4d;
    line-height: 52px;
  }

  .card-work {
    background: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 12px;
    transition: box-shadow 0.2s ease-in;
  }

  #work-section .container .row .col-12:nth-child(even) .card-work {
    flex-direction: column;
  }

  #work-section .container .row {
    row-gap: 4rem;
  }
}
