@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html,
body {
  background-color: #f7f7f9;
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar-expand-lg {
  background-color: #fff;
}

.navbar-brand {
  color: #6070ff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  display: block;
}

.navbar-nav .nav-item {
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 8px;
  transition: background 0.15s ease-in;
}

.navbar-nav .nav-item .nav-link {
  color: #344563;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler i {
  color: #6070ff;
}

#headline {
  position: relative;
  min-height: 50rem;
  width: 100%;
  background: url("./assets/images/header-bg.png");
  background-position: center;
  background-size: 98%;
  background-repeat: no-repeat;
  background-color: #fff;
  border-bottom-left-radius: 5.5rem;
}

#headline .container {
  width: 75%;
  position: relative;
  top: 17rem;
}

.headline-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin: 0;
  color: #172b4d;
}

#headline p {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 90%;
}

#headline hgroup .headline-title:last-child {
  width: 90%;
}

#headline p {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.headline-connect-link {
  color: #7f8cff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-links {
  display: flex;
  align-items: center;
  margin-top: 5px;
  padding-left: 0;
}

.social-links li {
  display: block;
  padding: 7px 13px;
}

.social-links li a:hover {
  color: #2230d2;
}

.social-links li:nth-child(1) {
  padding-left: 0 !important;
}
#work-section {
  background: var(--light-white-bg);
  padding: 6rem 0;
}
#work-section .container {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 3rem;
}
.card-work {
  background: var(--base-color);
  border: 1px solid var(--card-border);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  transition: box-shadow 0.2s ease-in;
}
.card-work .image-container {
  width: 100%;
  overflow: hidden;
}
.card-work:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}
.card-work .image-container img {
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}
.card-work:hover .image-container img {
  transform: scale(1.1);
}
.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
  margin-bottom: 1rem;
  padding: 0;
  box-sizing: border-box;
}
.card-work .card-content .project-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--grey-text-deep);
  margin: 0;
  max-width: 90%;
}
#work-section .container .card-work:nth-child(even) {
  flex-direction: column;
}
.project-additional-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  margin-bottom: 0;
}
.project-additional-info h5 {
  margin: 0;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--project-description-color);
}
.project-additional-info p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: var(--project-additional-info-text);
  margin: 0;
}
.dot {
  width: 8px;
  height: 8px;
  background: var(--grey-text-light);
  border-radius: 50%;
}
.project-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--project-description-color);
  margin: 0;
  width: 90%;
}
.project-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  gap: 8px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.project-tags li {
  background: var(--tag-bg);
  padding: 4px 12px;
  border-radius: 8px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
.project-btn {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  background-color: var(--base-color);
  color: var(--project-btn-text);
  letter-spacing: 0.03em;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: max-content;
  display: inline-block;
  cursor: pointer;
  transition: all 0.15s ease-in;
}
.project-btn:hover {
  background: var(--primary-color);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}
.project-btn:active {
  background: var(--primary-color-deep);
  color: #fff;
}
.card-work .card-content .project-btn {
  margin-top: 0;
}

@media (max-width: 767.98px) {
  #headline {
    min-height: 35rem;
    background: url("./assets/images/header-bg-mobile.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  #headline .container {
    position: relative;
    top: 5rem;
    width: 95%;
  }

  .navbar .container {
    width: 95%;
  }

  .headline-title {
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    color: #172b4d;
    line-height: 52px;
  }
  
}
